<div class="flex flex-row justify-content-between align-items-between topbar gap-4 mx-4">
    <div class="w-5">
        <h1>Smart City</h1>
    </div>
    <ul class="menu-list">
         <li routerLink="/smartcity/dashboard" class="text-2xl"><a >Dashboard</a></li>   
         <li routerLink="/smartcity/containers/optimized-routes" class="text-2xl"><a >Rutas</a></li>
         <li routerLink="/smartcity/containers/manage" class="text-2xl"><a >Contenedores</a></li>
         <li routerLink="/smartcity/containers/generate-route" class="text-2xl"><a >Reportes</a></li>
         <li>
            <p-button icon="pi pi-bell">
                
            </p-button>
        </li>
        <li>
            <p-button 
                class=""
                styleClass="m-0 p-1" 
                [outlined]="true" 
                [rounded]="true"
                variant="text"
                (click)="porfile()"
            > 
                <img 
                    src="../../../../../public/assets/icons/user-m.png" 
                    alt="User-Avatar" 
                    style="padding: 0; width: 40px; height: 40px; border-radius: 50%; ;"
                >
            </p-button>

            <p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '15rem' }">
                <div class="flex flex-column justify-end gap-4">
                    <p-button label="Perfil" severity="secondary" (click)="visible = false" />
                    <p-button label="Salir" (click)="logOut()" />
                </div>
            </p-dialog>
        </li>
    </ul>
</div>
