.topbar {
    width: 100%;
    background-color: #89c3ca;
    margin: 0;
}

@media screen and (max-width : 668px) {
    .topbar {
        visibility: hidden;
        width: 0px;
    }
    
}

ul {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.2s ease;
    }
}

.menu-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    justify-content: center;
    align-items: center;
}

ul li:hover {
    background-color: rgb(171, 218, 221);
}

.menu-list li.active {
    background-color: rgb(171, 218, 221);
    color:  rgb(171, 218, 221);
}

.menu-list li.active a {
    color:  rgb(117, 160, 113);
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color:  rgb(117, 160, 113);
}
