<div class="flex flex-row justify-content-between align-items-between topbar gap-4">
    <div class="flex justify-content-center align-items-center gap-2 w-1 ml-4">
        <img 
            src="/assets/images/smartcity.jpg" 
            alt="user-avatar" 
            style="margin: 2px; width: 40px; height: 40px; border-radius: 50%;"
        >
        <span class="font-bold">Smart City</span>
    </div>
    <ul class="menu-list">
        <li routerLink="/smartcity/dashboard" class="text-xl p-2" [routerLinkActive]="['active']"><a>Dashboard</a></li>   
        <li routerLink="/smartcity/containers/map-containers" class="text-xl p-3" [routerLinkActive]="['active']"><a>Contenedores</a></li>
        <li routerLink="/smartcity/containers/optimized-routes" class="text-xl" [routerLinkActive]="['active']"><a>Rutas</a></li>
        <li (click)="porfile()">
            <img 
                [src]="imgUser" 
                alt="user-avatar" 
                style="margin: 2px; width: 40px; height: 40px; border-radius: 50%;"
            >
        </li>
    </ul>
</div>

<!-- Dialogo que muestra los botones para ver el perfil del usuario y para cerrar sesion -->
<p-dialog [modal]="true" [draggable]="false" [(visible)]="visible" [style]="{ width: '15rem' }">
    <div class="flex flex-column justify-content-center align-items-center gap-4">
        <img 
            [src]="imgUser" 
            alt="user-avatar" 
            style="padding: 0; width: 60px; height: 60px; border-radius: 50%; ;"
        >
        <p-button label="Perfil" severity="secondary" />
        <p-button label="Salir" (click)="onLogOut()" />
    </div>
</p-dialog>