<div class="container">
    <div class="flex flex-column justify-content-center align-items-center">
        <div>
            <h1>Rutas optimizadas para recolección de basura</h1>
        </div>
        <div class="m-4">
            <h1>Mapa</h1>
        </div>
        <div>
            <h1>Metricas de ruta</h1>
        </div>
        <div class="flex flex-row gap-2">
            <p-card header="Ejemplo" [style]="{ width: '25rem' }">
                <p class="m-0">
                    15.8 km
                </p>
            </p-card>
            <p-card header="Ejemplo" [style]="{ width: '25rem' }">
                <p class="m-0">
                    15.8 km
                </p>
            </p-card>
        </div>
    </div>
</div>